In [2]:
import pandas as pd
import requests
import json
import zipfile
import xmltodict
import time
from tqdm import tqdm
from io import BytesIO

## Data Load

### DART

In [2]:
# api_key 세팅
api_key = 'a47ee3f06af0391401258e8fc94b90296fa2d7f5'

In [4]:
# 1. 고유번호

url = 'https://opendart.fss.or.kr/api/corpCode.xml'
res = requests.get(url, params={'crtfc_key': api_key})
z = zipfile.ZipFile(BytesIO(res.content))

data_xml = z.read('CORPCODE.xml').decode('utf-8')
data_odict = xmltodict.parse(data_xml)
data_dict = json.loads(json.dumps(data_odict))
data_dart_1 = pd.DataFrame(data_dict.get('result', {}).get('list'))
data_dart_1

      corp_code          corp_name stock_code modify_date
0      00434003                 다코       None    20170630
1      00434456               일산약품       None    20170630
2      00430964              굿앤엘에스       None    20170630
3      00432403               한라판지       None    20170630
4      00388953  크레디피아제이십오차유동화전문회사       None    20170630
...         ...                ...        ...         ...
89361  01560457               삼원개발       None    20210506
89362  01556533          에이더블유파트너스       None    20210506
89363  01546299             동영와이케이       None    20210506
89364  00694605               미디어윌       None    20210506
89365  01368761         엔브이에이치원방테크       None    20210506

[89366 rows x 4 columns]

In [3]:
#data_dart_1.to_pickle('data_dart_1.pkl')
data_dart_1 = pd.read_pickle('data_dart_1.pkl')
data_dart_1

      corp_code          corp_name stock_code modify_date
0      00434003                 다코       None    20170630
1      00434456               일산약품       None    20170630
2      00430964              굿앤엘에스       None    20170630
3      00432403               한라판지       None    20170630
4      00388953  크레디피아제이십오차유동화전문회사       None    20170630
...         ...                ...        ...         ...
89361  01560457               삼원개발       None    20210506
89362  01556533          에이더블유파트너스       None    20210506
89363  01546299             동영와이케이       None    20210506
89364  00694605               미디어윌       None    20210506
89365  01368761         엔브이에이치원방테크       None    20210506

[89366 rows x 4 columns]

In [4]:
# stock_code 있는 건들만 선별
data_dart_1_nn = data_dart_1[data_dart_1.stock_code.notnull()]
data_dart_1_nn

      corp_code corp_name stock_code modify_date
2013   00260985      한빛네트     036720    20170630
2025   00264529      엔플렉스     040130    20170630
2026   00358545    동서정보기술     055000    20170630
2788   00231567     애드모바일     032600    20170630
3896   00247939       씨모스     037600    20170630
...         ...       ...        ...         ...
89302  00521390   뉴파워프라즈마     144960    20211125
89311  00664853    제이씨케미칼     137950    20211126
89313  00307028      경남제약     053950    20211201
89344  00874195     코썬바이오     204990    20211027
89348  01264438    자이언트스텝     289220    20211028

[3401 rows x 4 columns]

In [26]:
# 2. 기업개황

data_dart_2 = pd.DataFrame()

for code in tqdm(data_dart_1_nn.corp_code.tolist()):
    url = f'https://opendart.fss.or.kr/api/company.json?crtfc_key={api_key}&corp_code={code}'
    res = requests.get(url)
    text = json.loads(res.text)
    
    if text['message'] == '정상':
        data_dart_2 = pd.concat([data_dart_2, pd.DataFrame.from_dict(text, orient='index').T], axis=0)
    
data_dart_2

100%|██████████████████████████████████████████████████████████████████████████████| 3401/3401 [04:58<00:00, 11.41it/s]

,status,message,corp_code,corp_name,corp_name_eng,stock_name,stock_code,ceo_nm,corp_cls,jurir_no,bizr_no,adres,hm_url,ir_url,phn_no,fax_no,induty_code,est_dt,acc_mt
0,000,정상,00260985,한빛네트,"HanbitNet, Inc.",한빛네트,036720,강승환,E,1101111443079,2088124283,서울특별시 종로구 익선동 30-6,www.hanbitnet.com,,02-3668-0114,02-3668-0112,58221,19970722,12
0,000,정상,00264529,(주)엔플렉스,"Nplex,Inc.",엔플렉스,040130,이 정 학,E,1101111601750,2208156354,서울특별시 강남구 논현동 98 동익빌딩 2층,www.gamekorea.net,,(02) 3453-7111,(02) 3453-7345,58221,19981030,12
0,000,정상,00358545,(주)동서정보기술,"Dong Seo Information Technology Co., Ltd.",동서정보기술,055000,이희봉,E,1101111259525,2208103653,서울특별시 강남구 대치동 997-4,http://www.dsit.co.kr,,02-565-4510 (220),02-3453-4552,58221,19960410,12
0,000,정상,00231567,주식회사 애드모바일,,애드모바일,032600,김용석,E,1101111166837,1208151156,서울특별시 강서구 가양동 1458-9 동남빌딩 2층,www.kdline.co.kr,,02-518-0101 (변광섭),02-518-0133,58221,19950614,12
0,000,정상,00247939,(주)씨모스,"creative master of semiconductor. co.,ltd",씨모스,037600,유인엽,E,1201110118077,1398120545,인천광역시 남동구 고잔동 685-6,www.cmos21.co.kr,,032-814-0981-4,032-814-0985,29294,19950509,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,000,정상,00521390,(주)뉴파워프라즈마,"New Power Plasma Co.,Ltd",뉴파워프라즈마,144960,위순임,K,1101111784952,2128144110,경기도 수원시 권선구 산업로155번길 214 (주)뉴파워프라즈마,newpower.co.kr,,031-612-7600,031-612-7699,29271,19991007,12
0,000,정상,00664853,제이씨케미칼(주),"JC Chemical Corporation, LTD.",제이씨케미칼,137950,"윤사호, 이종응",K,1358110124726,1358185115,울산광역시 울주군 온산읍 화산1길 70,www.jcchemical.co.kr,,02-6321-1333,027615404,2049,20060324,12
0,000,정상,00307028,경남제약 주식회사,"KYUNG NAM PHARM.CO.,LTD.",경남제약,053950,오성원,K,1350110085255,1348142258,경상남도 의령군 동동리 1539-5,www.kyungnampharm.co.kr,,02-3490-5105,02)3490-5129,212,19981229,12
0,000,정상,00874195,(주)코썬바이오,"Kosun Bio Co., Ltd.",코썬바이오,204990,조규면,E,1101113505421,2148794321,서울특별시 영등포구 선유로 146 이앤씨드림타워 207호,www.hsvital.com,,02-2628-0550,02-2628-0561,10797,20060808,12
0,000,정상,01264438,(주)자이언트스텝,GIANTSTEP Inc.,자이언트스텝,289220,"하승봉, 이지철",K,1101113909839,2118813952,서울특별시 강남구 학동로37길 8,www.giantstep.co.kr,,02-549-0005,02-549-0903,59113,20080605,12

In [5]:
#data_dart_2.to_pickle('data_dart_2.pkl')
data_dart_2 = pd.read_pickle('data_dart_2.pkl')
data_dart_2

,status,message,corp_code,corp_name,corp_name_eng,stock_name,stock_code,ceo_nm,corp_cls,jurir_no,bizr_no,adres,hm_url,ir_url,phn_no,fax_no,induty_code,est_dt,acc_mt
0,000,정상,00260985,한빛네트,"HanbitNet, Inc.",한빛네트,036720,강승환,E,1101111443079,2088124283,서울특별시 종로구 익선동 30-6,www.hanbitnet.com,,02-3668-0114,02-3668-0112,58221,19970722,12
0,000,정상,00264529,(주)엔플렉스,"Nplex,Inc.",엔플렉스,040130,이 정 학,E,1101111601750,2208156354,서울특별시 강남구 논현동 98 동익빌딩 2층,www.gamekorea.net,,(02) 3453-7111,(02) 3453-7345,58221,19981030,12
0,000,정상,00358545,(주)동서정보기술,"Dong Seo Information Technology Co., Ltd.",동서정보기술,055000,이희봉,E,1101111259525,2208103653,서울특별시 강남구 대치동 997-4,http://www.dsit.co.kr,,02-565-4510 (220),02-3453-4552,58221,19960410,12
0,000,정상,00231567,주식회사 애드모바일,,애드모바일,032600,김용석,E,1101111166837,1208151156,서울특별시 강서구 가양동 1458-9 동남빌딩 2층,www.kdline.co.kr,,02-518-0101 (변광섭),02-518-0133,58221,19950614,12
0,000,정상,00247939,(주)씨모스,"creative master of semiconductor. co.,ltd",씨모스,037600,유인엽,E,1201110118077,1398120545,인천광역시 남동구 고잔동 685-6,www.cmos21.co.kr,,032-814-0981-4,032-814-0985,29294,19950509,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,000,정상,00521390,(주)뉴파워프라즈마,"New Power Plasma Co.,Ltd",뉴파워프라즈마,144960,위순임,K,1101111784952,2128144110,경기도 수원시 권선구 산업로155번길 214 (주)뉴파워프라즈마,newpower.co.kr,,031-612-7600,031-612-7699,29271,19991007,12
0,000,정상,00664853,제이씨케미칼(주),"JC Chemical Corporation, LTD.",제이씨케미칼,137950,"윤사호, 이종응",K,1358110124726,1358185115,울산광역시 울주군 온산읍 화산1길 70,www.jcchemical.co.kr,,02-6321-1333,027615404,2049,20060324,12
0,000,정상,00307028,경남제약 주식회사,"KYUNG NAM PHARM.CO.,LTD.",경남제약,053950,오성원,K,1350110085255,1348142258,경상남도 의령군 동동리 1539-5,www.kyungnampharm.co.kr,,02-3490-5105,02)3490-5129,212,19981229,12
0,000,정상,00874195,(주)코썬바이오,"Kosun Bio Co., Ltd.",코썬바이오,204990,조규면,E,1101113505421,2148794321,서울특별시 영등포구 선유로 146 이앤씨드림타워 207호,www.hsvital.com,,02-2628-0550,02-2628-0561,10797,20060808,12
0,000,정상,01264438,(주)자이언트스텝,GIANTSTEP Inc.,자이언트스텝,289220,"하승봉, 이지철",K,1101113909839,2118813952,서울특별시 강남구 학동로37길 8,www.giantstep.co.kr,,02-549-0005,02-549-0903,59113,20080605,12

In [12]:
# 3. 직원현황

data_dart_3 = pd.DataFrame()

for code in tqdm(data_dart_1_nn.corp_code.tolist()):
    for year in ['2020', '2019']:
        url = f'https://opendart.fss.or.kr/api/empSttus.json?crtfc_key={api_key}&corp_code={code}&bsns_year={year}&reprt_code=11011'
        res = requests.get(url)
        text = json.loads(res.text)
        
        if text['message'] == '정상':
            data_dart_3 = pd.concat([data_dart_3, pd.DataFrame(text['list'])], axis=0)
        else:
            break
            
        time.sleep(0.5)
    
    time.sleep(1)

data_dart_3

100%|████████████████████████████████████████████████████████████████████████████| 3401/3401 [1:46:57<00:00,  1.89s/it]

,rcept_no,corp_cls,corp_code,corp_name,rm,sexdstn,fo_bbm,reform_bfe_emp_co_rgllbr,reform_bfe_emp_co_cnttk,reform_bfe_emp_co_etc,rgllbr_co,rgllbr_abacpt_labrr_co,cnttk_co,cnttk_abacpt_labrr_co,sm,avrg_cnwk_sdytrn,fyer_salary_totamt,jan_salary_am
0,20210316000210,K,00956028,엑세스바이오,단위:USD,남,사무,-,-,-,10,-,-,-,10,8.64,"943,156","94,316"
1,20210316000210,K,00956028,엑세스바이오,단위:USD,여,사무,-,-,-,4,-,-,-,4,7.65,"319,674","79,919"
2,20210316000210,K,00956028,엑세스바이오,단위:USD,남,영업,-,-,-,4,-,-,-,4,6.07,"521,380","130,345"
3,20210316000210,K,00956028,엑세스바이오,단위:USD,여,영업,-,-,-,1,-,-,-,1,0.25,"13,514","13,514"
4,20210316000210,K,00956028,엑세스바이오,단위:USD,남,연구,-,-,-,7,-,-,-,7,4.92,"853,502","121,929"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,20210331003230,K,01264438,자이언트스텝,-,여,제작,-,-,-,68,-,-,-,68,2.3,"1,953,000,000","32,000,000"
2,20210331003230,K,01264438,자이언트스텝,-,남,연구개발,-,-,-,14,-,-,-,14,1.8,"712,000,000","56,000,000"
3,20210331003230,K,01264438,자이언트스텝,-,여,연구개발,-,-,-,6,-,-,-,6,1.1,"146,000,000","30,000,000"
4,20210331003230,K,01264438,자이언트스텝,-,남,관리,-,-,-,11,2,-,-,13,4.1,"451,000,000","47,000,000"
5,20210331003230,K,01264438,자이언트스텝,-,여,관리,-,-,-,8,-,-,-,8,3.8,"291,000,000","36,000,000"

In [5]:
#data_dart_3.to_pickle('data_dart_3.pkl')
data_dart_3 = pd.read_pickle('data_dart_4.pkl')
data_dart_3

,rcept_no,corp_cls,corp_code,corp_name,rm,sexdstn,fo_bbm,reform_bfe_emp_co_rgllbr,reform_bfe_emp_co_cnttk,reform_bfe_emp_co_etc,rgllbr_co,rgllbr_abacpt_labrr_co,cnttk_co,cnttk_abacpt_labrr_co,sm,avrg_cnwk_sdytrn,fyer_salary_totamt,jan_salary_am
0,20210316000210,K,00956028,엑세스바이오,단위:USD,남,사무,-,-,-,10,-,-,-,10,8.64,"943,156","94,316"
1,20210316000210,K,00956028,엑세스바이오,단위:USD,여,사무,-,-,-,4,-,-,-,4,7.65,"319,674","79,919"
2,20210316000210,K,00956028,엑세스바이오,단위:USD,남,영업,-,-,-,4,-,-,-,4,6.07,"521,380","130,345"
3,20210316000210,K,00956028,엑세스바이오,단위:USD,여,영업,-,-,-,1,-,-,-,1,0.25,"13,514","13,514"
4,20210316000210,K,00956028,엑세스바이오,단위:USD,남,연구,-,-,-,7,-,-,-,7,4.92,"853,502","121,929"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,20210331003230,K,01264438,자이언트스텝,-,여,제작,-,-,-,68,-,-,-,68,2.3,"1,953,000,000","32,000,000"
2,20210331003230,K,01264438,자이언트스텝,-,남,연구개발,-,-,-,14,-,-,-,14,1.8,"712,000,000","56,000,000"
3,20210331003230,K,01264438,자이언트스텝,-,여,연구개발,-,-,-,6,-,-,-,6,1.1,"146,000,000","30,000,000"
4,20210331003230,K,01264438,자이언트스텝,-,남,관리,-,-,-,11,2,-,-,13,4.1,"451,000,000","47,000,000"
5,20210331003230,K,01264438,자이언트스텝,-,여,관리,-,-,-,8,-,-,-,8,3.8,"291,000,000","36,000,000"

In [4]:
#data_dart_3.to_pickle('data_dart_3.pkl')
data_dart_3 = pd.read_pickle('data_dart_4.pkl')
data_dart_3

,rcept_no,corp_cls,corp_code,corp_name,rm,sexdstn,fo_bbm,reform_bfe_emp_co_rgllbr,reform_bfe_emp_co_cnttk,reform_bfe_emp_co_etc,rgllbr_co,rgllbr_abacpt_labrr_co,cnttk_co,cnttk_abacpt_labrr_co,sm,avrg_cnwk_sdytrn,fyer_salary_totamt,jan_salary_am
0,20210316000210,K,00956028,엑세스바이오,단위:USD,남,사무,-,-,-,10,-,-,-,10,8.64,"943,156","94,316"
1,20210316000210,K,00956028,엑세스바이오,단위:USD,여,사무,-,-,-,4,-,-,-,4,7.65,"319,674","79,919"
2,20210316000210,K,00956028,엑세스바이오,단위:USD,남,영업,-,-,-,4,-,-,-,4,6.07,"521,380","130,345"
3,20210316000210,K,00956028,엑세스바이오,단위:USD,여,영업,-,-,-,1,-,-,-,1,0.25,"13,514","13,514"
4,20210316000210,K,00956028,엑세스바이오,단위:USD,남,연구,-,-,-,7,-,-,-,7,4.92,"853,502","121,929"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,20210331003230,K,01264438,자이언트스텝,-,여,제작,-,-,-,68,-,-,-,68,2.3,"1,953,000,000","32,000,000"
2,20210331003230,K,01264438,자이언트스텝,-,남,연구개발,-,-,-,14,-,-,-,14,1.8,"712,000,000","56,000,000"
3,20210331003230,K,01264438,자이언트스텝,-,여,연구개발,-,-,-,6,-,-,-,6,1.1,"146,000,000","30,000,000"
4,20210331003230,K,01264438,자이언트스텝,-,남,관리,-,-,-,11,2,-,-,13,4.1,"451,000,000","47,000,000"
5,20210331003230,K,01264438,자이언트스텝,-,여,관리,-,-,-,8,-,-,-,8,3.8,"291,000,000","36,000,000"

In [6]:
data_dart_3.corp_code.unique().size

2544

In [7]:
data_dart_3.corp_name.unique().tolist()

['엑세스바이오',
 '지오엠씨',
 '클루넷',
 '글로벌에스엠',
 '씨케이에이치',
 'GRT',
 '윙입푸드',
 '루트원플러스',
 '로스웰',
 '골든센츄리',
 '에스티씨라이프',
 '동양텔레콤',
 '에임하이글로벌',
 '디비엘',
 '더스텔라',
 '코오롱티슈진',
 'SBI핀테크솔루션즈',
 '자유투어',
 '영신금속',
 '웹젠',
 '우리넷',
 '마이크로디지탈',
 '손오공',
 '새로닉스',
 '교보9호스팩',
 '네추럴FNP',
 '로보로보',
 '교보10호기업인수목적',
 '아이비김영',
 '메디안디노스틱',
 '씨앤에스링크',
 '유나이티드',
 '프럼파스트',
 'HDC현대산업개발',
 '지니언스',
 '시노펙스',
 '모나리자',
 '티웨이홀딩스',
 '이수화학',
 '씨앤지하이테크',
 '삼화왕관',
 '이지스밸류플러스리츠',
 '피엔에이치테크',
 '비엔디생활건강',
 '하림지주',
 '아모텍',
 '삼영이엔씨',
 '코리아센터',
 '대상홀딩스',
 '애니젠',
 '엠투아이',
 '흥국화재',
 '이트론',
 '바이오리더스',
 '넥스지',
 '케이티스카이라이프',
 '아바코',
 '미원화학',
 '메타랩스',
 '에스알바이오텍',
 '티와이홀딩스',
 '나눔테크',
 '팜스빌',
 '동일고무벨트',
 '성도이엔지',
 '한국맥널티',
 '바다로19호',
 '폴루스바이오팜',
 'SK6호스팩',
 'BNK금융지주',
 '위드텍',
 '다원넥스뷰',
 '심텍홀딩스',
 '솔트룩스',
 '팬엔터테인먼트',
 '솔루엠',
 '셀트리온헬스케어',
 '라온피플',
 '파미셀',
 '아이앤씨',
 '코미코',
 '네오크레마',
 '모트렉스',
 '에스티오',
 '텔레칩스',
 'HRS',
 '덕성',
 'KG케미칼',
 '엔지스테크널러지',
 '콤텍시스템',
 '파워풀엑스',
 '한국철강',
 'KISCO홀딩스',
 '핑거',
 '이엠티',
 '메디아나',
 '와이엠씨',
 '예선테크',
 '티에스아이',
 '마이크로프랜드',
 '하나제약',
 '롯데지주',
 '삼성증권',
 '서연',
 '위세아이텍',
 '동양피스톤',
 '나우IB',
 '한국스탠다드차타드은행',
 'CJ씨푸드',
 '올릭스',
 '쿠쿠홀딩스',
 '무림P&P',
 '인바이오',
 '진성티이씨',
 'SDN',
 '로보티즈',
 '카페24',
 '나우코스',
 '애경산업',
 '노터스',
 '휴네시온',
 '에이펙스인텍',
 '플럼라인생명과학',
 '제노텍',
 '하나금융16호스팩',
 '파워넷',
 '조선선재',
 '현대글로비스',
 'KPX케미칼',
 '디케이티',
 '라이프사이언스테크놀로지',
 '파트론',
 '박셀바이오',
 '모바일어플라이언스',
 '파마리서치바이오',
 '휴니드테크놀러지스',
 '세아제강',
 '신원',
 '덕신하우징',
 '액트로',
 '신풍제약',
 '티에스엠텍',
 '에스티아이',
 '디오',
 '한독크린텍',
 'KMH',
 '그리티',
 '지에스이',
 '모두투어',
 '자비스',
 '유니크',
 '아이큐어',
 '제노레이',
 '한세엠케이',
 '세아베스틸',
 '지앤엘',
 '상신전자',
 '크리스탈신소재',
 '드림라인',
 '쎄니트',
 '중앙에너비스',
 '에스엘에스바이오',
 '하이즈항공',
 '에프앤가이드',
 '이노벡스',
 '비에이치',
 '현대해상',
 '레드캡투어',
 '대성미생물',
 '하나투어',
 '에이텍',
 '진바이오텍',
 '크로넥스',
 '유니셈',
 '엔에스컴퍼니',
 '에이치엠씨제4호스팩',
 '에이치엠씨제5호스팩',
 '윌링스',
 '범양사',
 '현대일렉트릭',
 '태영건설',
 '현대약품',
 '와이팜',
 '대원화성',
 '삼천리',
 '와이제이엠게임즈',
 '아난티',
 '케어랩스',
 '동아타이어',
 '알에스오토메이션',
 '매커스',
 'GS',
 'JTC',
 '파버나인',
 '삼양옵틱스',
 'HMM',
 '엔비티',
 '태림포장',
 '메디젠휴먼케어',
 'LG디스플레이',
 '레인보우로보틱스',
 '민앤지',
 '한국자산신탁',
 '케이비제20호스팩',
 '미투젠',
 '테고사이언스',
 '크라운해태홀딩스',
 '고바이오랩',
 '지어소프트',
 'TPC',
 '에스에이티',
 '다함이텍',
 '크라운제과',
 '글로벌텍스프리',
 '티앤알바이오팹',
 '대유',
 '테라셈',
 'SK5호스팩',
 'DB하이텍',
 '티티씨디펜스',
 '글로앤웰',
 '에코솔루션',
 '태원물산',
 '서진시스템',
 '엘리비젼',
 '한국바이오젠',
 '케이프이에스제4호',
 '빅텍',
 '국제약품',
 '한라',
 '이비테크',
 '우리기술',
 '유엔젤',
 '대한전선',
 '피플바이오',
 '신영스팩6호',
 '동일금속',
 '네오펙트',
 '덕산네오룩스',
 '씨앤투스성진',
 'RFHIC',
 '넥스틴',
 '알테오젠',
 '덕산테코피아',
 '베셀',
 '데이타솔루션',
 '디알젬',
 '광주은행',
 '슈프리마아이디',
 '케이피에스',
 '한솔테크닉스',
 '아이쓰리시스템',
 '연우',
 '삼양패키징',
 '금양',
 '사조대림',
 '알로이스',
 '조흥',
 '엔에이치엔',
 '하나금융15호스팩',
 '디앤씨미디어',
 '엘엠에스',
 '펌텍코리아',
 '아퓨어스',
 '지역난방공사',
 '동양생명',
 '에이리츠',
 '헝셩그룹',
 '엔피디',
 '진코스텍',
 '나이스디앤비',
 '알엔투테크놀로지',
 '보라티알',
 'NE능률',
 '애니플러스',
 '네오셈',
 'KMH하이텍',
 '이앤에치',
 '푸드나무',
 '제이엔케이히터',
 '이엠넷',
 '자이에스앤디',
 '와이즈버즈',
 '신텍',
 '리드',
 '경보제약',
 '우성아이비',
 '셀트리온제약',
 '우양',
 '제일파마홀딩스',
 '유틸렉스',
 '캠시스',
 '위닉스',
 '휴벡셀',
 '가비아',
 'JW중외제약',
 '컴퍼니케이',
 '대유에이피',
 '로체시스템즈',
 '백광산업',
 '영림원소프트랩',
 '한국비엔씨',
 '서남',
 '위노바',
 '일신방직',
 '판도라티비',
 '대현',
 '슈피겐코리아',
 'IBKS제12호스팩',
 '더콘텐츠온',
 '메드팩토',
 '상상인이안제2호스팩',
 '청광건설',
 '엠케이전자',
 '태경비케이',
 '머큐리',
 '한국기업평가',
 '세하',
 '일진홀딩스',
 '대백저축은행',
 '에코캡',
 '엘컴텍',
 '디지털대성',
 '한국콜마홀딩스',
 '메타바이오메드',
 '태웅로직스',
 '성보화학',
 '엠소닉',
 '지디',
 '아비코전자',
 '지에스엔텍',
 '이노테라피',
 '사조씨푸드',
 '넷마블',
 '국민은행',
 '푸드웰',
 '브리지텍',
 '하츠',
 '한국카본',
 '바이넥스',
 '큐로',
 '신일전자',
 '제룡산업',
 '위지윅스튜디오',
 '데이드림엔터',
 '에이원알폼',
 '에스제이켐',
 '나스미디어',
 '서희건설',
 '센코',
 '엘앤씨바이오',
 '원림',
 '모나미',
 '세경하이테크',
 '네이처셀',
 '자이글',
 '일성건설',
 '케이비제18호스팩',
 '천지산업',
 '디에이피',
 '오스테오닉',
 '에코마케팅',
 '디지틀조선',
 '태양기계',
 '유니테크노',
 '세화피앤씨',
 '일성신약',
 '포스코강판',
 '미창석유공업',
 '미래에셋대우스팩3호',
 '범양건영',
 '에쎈테크',
 '덱스터',
 '에이스토리',
 '보광산업',
 '알바이오',
 '이엔에프테크놀로지',
 '인텔리안테크',
 '원익IPS',
 '대림비앤코',
 '서원',
 '잘만테크',
 '미래컴퍼니',
 '랩지노믹스',
 '티웨이항공',
 '쎌바이오텍',
 '신세계톰보이',
 '호전실업',
 '옵트론텍',
 '유바이오로직스',
 '한신기계공업',
 '싸이토젠',
 '대주이엔티',
 '진로발효',
 '유니포인트',
 '한국미라클피플사',
 '알리코제약',
 '석경에이티',
 '현우산업',
 '이노메트리',
 '제이티',
 '엄지하우스',
 '미투온',
 '스튜디오드래곤',
 '슈프리마',
 '제노코',
 '해태제과식품',
 '에스엠비나',
 '비나텍',
 '알티캐스트',
 '신풍제지',
 '신한제7호스팩',
 '나이벡',
 'DMS',
 '아바텍',
 '사조동아원',
 '제일약품',
 '라이프시맨틱스',
 '보해양조',
 '후성',
 '에이플러스에셋',
 '스템랩',
 '우리이앤엘',
 '듀오백',
 '대한약품',
 '동아',
 '오션스톤',
 '효성중공업',
 'SIMPAC',
 '경농',
 '남선알미늄',
 '삼영전자공업',
 'SH에너지화학',
 '한솔로지스틱스',
 'AP위성',
 '대신밸런스제8호스팩',
 '펩트론',
 '하나머스트7호스팩',
 '모베이스',
 '뉴프렉스',
 '디바이스이엔지',
 '야스',
 '드림시큐리티',
 '디딤',
 '유에스티',
 '이상네트웍스',
 '유티아이',
 '오리온홀딩스',
 'CS',
 '삼진엘앤디',
 '더존비즈온',
 '유니온커뮤니티',
 '에스에프에이',
 '이매진아시아',
 '에스퓨얼셀',
 '솔브레인',
 '동양건설산업',
 '두산중공업',
 '광진윈텍',
 '윈텍',
 '유니테스트',
 '제노포커스',
 '지누스',
 '나노씨엠에스',
 '이씨에스',
 '이엘피',
 '황금에스티',
 '모헨즈',
 '아이에이치큐',
 '삼성에스디에스',
 '계양전기',
 '남광토건',
 '대영포장',
 '제이앤티씨',
 '인포뱅크',
 '동원개발',
 '메디쎄이',
 '네오오토',
 '씨앗',
 '진양산업',
 '신대양제지',
 '누리플랜',
 '플랜티넷',
 '에이테크솔루션',
 '아남전자',
 '룽투코리아',
 '락앤락',
 '이라이콤',
 '대보마그네틱',
 '한미글로벌',
 '동아지질',
 '이루다',
 '코아스템',
 '진흥기업',
 '나무가',
 '에이치엔티',
 '비츠로테크',
 '코오롱',
 '교촌에프앤비',
 '미래엔에듀파트너',
 '일동제약',
 '엔터미디어',
 '한창제지',
 '풍림산업',
 '명신산업',
 '도화엔지니어링',
 '이엠텍',
 '테크트랜스',
 '셀리드',
 '소프트캠프',
 '옵티시스',
 '에스엔피제네틱스',
 '트루윈',
 '렌딩머신',
 '삼일제약',
 '유한양행',
 '피엔아이컴퍼니',
 '우진아이엔에스',
 '한국공항',
 '제네시스디벨롭먼트홀딩스',
 '에이에프더블류',
 '한송네오텍',
 '비즈니스온',
 '삼아알미늄',
 '흥구석유',
 '잇츠한불',
 '한국9호스팩',
 '삼일씨엔에스',
 '탑선',
 'EMB',
 '레몬',
 '네오리진',
 '피앤씨테크',
 '뷰웍스',
 '쿠콘',
 '로보쓰리',
 '용평리조트',
 '신영증권',
 '부산은행',
 '동원F&B',
 '광전자',
 '블루탑',
 '시스웍',
 '이베스트이안스팩1호',
 '이베스트스팩5호',
 '세틀뱅크',
 '수산중공업',
 '제일연마',
 '넥스턴바이오',
 '코윈테크',
 '가온전선',
 '싸이버원',
 '프레스티지바이오로직스',
 '이크레더블',
 '팬젠',
 'KEC',
 '에어부산',
 '에스와이',
 '바이오프로테크',
 '미애부',
 'NHN벅스',
 '웅진씽크빅',
 '포스코엠텍',
 '네오이뮨텍',
 'TS트릴리온',
 '나인테크',
 '현대무벡스',
 '케이씨티시',
 '프리시젼바이오',
 '와이더플래닛',
 '한국아트라스비엑스',
 '드림텍',
 '동일제강',
 '율촌화학',
 '동성화학',
 '삼표시멘트',
 '대창단조',
 '원익큐브',
 '골프존데카',
 '계룡건설산업',
 '피엔케이피부임상연구센타',
 '현대사료',
 '바이브컴퍼니',
 '수젠텍',
 '삼성SDI',
 '이노인스트루먼트',
 '코데즈컴바인',
 '에스케이브로드밴드',
 '현대에버다임',
 'DRB동일',
 '미코바이오메드',
 '알체라',
 '클리노믹스',
 '기아',
 '동원수산',
 'RF머트리얼즈',
 '금호건설',
 'LS전선아시아',
 '지오씨',
 '진양홀딩스',
 '삼화전기',
 '티엘비',
 '메이슨캐피탈',
 '현대위아',
 '현대모비스',
 '녹십자웰빙',
 '썬테크',
 '이마트에브리데이',
 'DB금융스팩9호',
 'GS글로벌',
 '신신제약',
 '국일신동',
 '희림',
 '에넥스',
 '파워로직스',
 '자화전자',
 '경방',
 '한솔홈데코',
 '넥스트BT',
 '와토스코리아',
 '단디바이오',
 '강스템바이오텍',
 '지엔원에너지',
 '포인트엔지니어링',
 '티에이치엔',
 '더블유게임즈',
 '에이치엘사이언스',
 '인포바인',
 '두산퓨얼셀',
 '링크제니시스',
 '한국전자홀딩스',
 '웹케시',
 '제일전기공업',
 '파멥신',
 '동남합성',
 '에스트래픽',
 '엔지브이아이',
 '네오팜',
 '이루온',
 '이오플로우',
 '이랜시스',
 '인탑스',
 '케이피티유',
 '티움바이오',
 '상신이디피',
 '환인제약',
 '유니켐',
 '이십일스토어',
 '광명전기',
 'SBS미디어홀딩스',
 '켐온',
 '지노믹트리',
 '한독',
 '샘표',
 '노바텍',
 '대신밸런스제7호스팩',
 '미원상사',
 '삼정펄프',
 '인터로조',
 '천보',
 '샘표식품',
 '피엔에스커튼월',
 '신테카바이오',
 '대림제지',
 '에이치디씨영창',
 '휴마시스',
 '미주제강',
 '우양에이치씨',
 '한창',
 '위더스제약',
 '에스제이엠홀딩스',
 '아이퀘스트',
 '성원',
 '파커스',
 '오스템임플란트',
 '에스제이그룹',
 '미원에스씨',
 '한중엔시에스',
 '피노텍',
 '엔바이오니아',
 '라파스',
 '영원무역',
 '디케이앤디',
 '레이크머티리얼즈',
 '대원제약',
 '웰크론',
 '수산아이앤티',
 '인선이엔티',
 '휴비츠',
 '케이엔더블유',
 '미래생명자원',
 '휴스틸',
 '소룩스',
 '태평양물산',
 '엘디티',
 '아미노로직스',
 '케이씨티',
 '대창',
 '하우리',
 '럭스피아',
 '에이비엘바이오',
 '삼화네트웍스',
 '비아트론',
 '윈팩',
 '동양',
 '우리손에프앤지',
 '오로스테크놀로지',
 '영진약품',
 '쿠쿠홈시스',
 '한국컴퓨터지주',
 '모비릭스',
 '현대그린푸드',
 '신비앤텍',
 '유진기업',
 '미디어젠',
 '바이오니아',
 '동성화인텍',
 '힘스',
 '뉴트리',
 '씨알푸드',
 '하이골드3호',
 '오리온',
 '아이진',
 '삼륭물산',
 '한일단조',
 '유안타제5호스팩',
 '유안타제7호스팩',
 '아톤',
 '선익시스템',
 '유비쿼스',
 '동아엘텍',
 '디지캡',
 '안트로젠',
 '에스디생명공학',
 '에스제이엠',
 '일진파워',
 '미래에셋대우스팩 5호',
 '티로보틱스',
 '극동유화',
 '우전',
 '삼아제약',
 '브이원텍',
 '부스타',
 '코스맥스',
 '부산도시가스',
 '경남기업',
 '동아에스티',
 '멜파스',
 '현대이지웰',
 '경인양행',
 '세기상사',
 '국동',
 '태양금속공업',
 '피엔티',
 '에스에프씨',
 '아이컴포넌트',
 '안지오랩',
 '한익스프레스',
 '서울리거',
 '정상제이엘에스',
 '한국캐피탈',
 '대동금속',
 '제일바이오',
 '인바이오젠',
 '유신',
 '태웅',
 '큐렉소',
 '코아스',
 '휴맥스',
 'SK증권',
 '현대코퍼레이션홀딩스',
 '평화산업',
 '센트랄모텍',
 'GS리테일',
 'KG ETS',
 '금비',
 '셀리버리',
 '동양철관',
 '엘오티베큠',
 '젬백스',
 '삼진',
 '코리아에셋투자증권',
 'COWON',
 '세원정공',
 '바텍',
 'STX',
 '디스플레이텍',
 '삼익THK',
 '에스코넥',
 '제이씨현시스템',
 '신라젠',
 '솔고바이오',
 '보락',
 '가온미디어',
 '큐브엔터',
 '휴맥스홀딩스',
 '퍼스텍',
 '영풍정밀',
 '서울옥션',
 '젬백스링크',
 '오파스넷',
 '윌비스',
 '동양에스텍',
 '맘스터치',
 '내츄럴엔도텍',
 '세방',
 '인텍플러스',
 '제이준코스메틱',
 '제로투세븐',
 '티라유텍',
 '대신증권',
 '콜마파마',
 '동일철강',
 '시그네틱스',
 '클래시스',
 '일진머티리얼즈',
 '아이에스동서',
 '마이더스AI',
 '리메드',
 '코메론',
 '우리산업홀딩스',
 '에이블씨엔씨',
 '티에스이',
 '한국유니온제약',
 'SNT중공업',
 '멀티캠퍼스',
 '라온테크',
 '미스터블루',
 '에이비프로바이오',
 '한라IMS',
 '휴먼엔',
 '화성산업',
 '삼보모터스',
 '우성',
 '세아특수강',
 'SG글로벌',
 '일야',
 'DB금융스팩8호',
 '에디슨EV',
 '풍산홀딩스',
 'JB금융지주',
 'HLB테라퓨틱스',
 '호텔신라',
 '비올',
 '한국타이어앤테크놀로지',
 '티씨엠생명과학',
 '중앙백신',
 '남화산업',
 '헬릭스미스',
 '엔에이치기업인수목적13호',
 '영우디에스피',
 '프로테옴텍',
 '텔콘RF제약',
 '엔케이',
 '한국특강',
 '혜인',
 '동서',
 '선진',
 '신세계푸드',
 '웅진에너지',
 '삼진제약',
 '수성이노베이션',
 '미래에셋벤처투자',
 '명성티엔에스',
 '리드코프',
 '린드먼아시아',
 '한양증권',
 '이화산업',
 'KH바텍',
 '삼천당제약',
 '이지케어텍',
 'KG동부제철',
 '엔에스엔',
 'iMBC',
 '위니아딤채',
 '농우바이오',
 '오로라',
 '조비',
 '프로텍',
 '컴투스',
 '케어젠',
 '삼성중공업',
 '시티랩스',
 '넷게임즈',
 '세종공업',
 '타임기술',
 '한국화장품',
 '동운아나텍',
 '코나아이',
 '조은저축은행',
 '아세아제지',
 '롯데쇼핑',
 '에스텍',
 '두산',
 '푸른저축은행',
 '제이스텍',
 '정다운',
 '바이오플러스',
 'LG화학',
 '코드네이처',
 'SUN&L',
 '대정화금',
 '비플라이소프트',
 '엔에스엠',
 '소프트센',
 '삼영엠텍',
 '콜마비앤에이치',
 '스타플렉스',
 '진양폴리우레탄',
 '대상',
 '빙그레',
 '디이엔티',
 '제넨바이오',
 '대한유화',
 '상아프론테크',
 '한국콜마',
 '얍엑스',
 '홈센타홀딩스',
 '케이씨더블류',
 '켐트로스',
 '에스앤디',
 '위즈코프',
 '성호전자',
 '유라테크',
 '재영솔루텍',
 '현진소재',
 '광동제약',
 '우진',
 '아가방컴퍼니',
 '비씨월드제약',
 'STX중공업',
 '효성 ITX',
 '성우하이텍',
 '엠피대산',
 '금강철강',
 '관악산업',
 'NEW',
 '동양파일',
 '한일진공',
 '와이지-원',
 '토니모리',
 '세원물산',
 'JW홀딩스',
 '하이트진로홀딩스',
 '웅진',
 '셀트리온',
 '나라소프트',
 '세우글로벌',
 '백산',
 '세운메디칼',
 'HLB생명과학',
 '한국정보공학',
 '미래아이앤지',
 '대한해운',
 '옵티팜',
 '파라다이스',
 '한일네트웍스',
 'TS인베스트먼트',
 '이스타코',
 '피앤텔',
 '코오롱머티리얼',
 '세원이앤씨',
 '세보엠이씨',
 'DL건설',
 '폴라리스오피스',
 '아이원스',
 '덴티스',
 '이더블유케이',
 '레이',
 '볼빅',
 '씨엘인터내셔널',
 '엠투엔',
 '토마토시스템',
 '한국알콜',
 '기산텔레콤',
 '해성산업',
 '코미팜',
 '하이록코리아',
 '한국코퍼레이션',
 'SNT에너지',
 '에이아이비트',
 '아스트',
 '원익머트리얼즈',
 '지유온',
 'SG&G',
 '에스에너지',
 '핸디소프트',
 '인피니트헬스케어',
 '에프앤리퍼블릭',
 '인트론바이오',
 '유성티엔에스',
 '지놈앤컴퍼니',
 '원풍',
 '서울도시가스',
 '현대두산인프라코어',
 '베른',
 'SNK',
 '코퍼스코리아',
 '한샘',
 'CJ 바이오사이언스',
 ...]